

   body
{
    width: 100%;
    height: 100%;
    background-color: #2980b9;
}



div
{
    display: block;

}

#bodhp
{
    height: 75%;
}

#footer
{
    width:100%;
	height: 5%;
	position:absolute;
	bottom:0;
	left:0;
    
}
p
{
    text-align: center;
    color: #ffffff;
}
.hpwrapper
{
   min-height: 100%;
    
}
#logo
{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background: #ffffff;
    height: 20%;
    width: 100%;
}

#logoplnhp
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#logoplnhpp
{
    display: inline-block;
    float: right;
    right: 0px;
}


subs
{
    width: 100%;
}

#rowform
{
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    min-width: 100px;
    background-color: #2980b9;
}

#rowtopform
{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    min-width: 100px;
    top: 80px;
   
}

#photouser
{
   width: 55px;
   height: 59px;
    background-color: #ffffff;
}



img .displayed
{
    display: block;
    margin-left: auto;
    margin-right: auto
}


.btnhome {
   border-top: 1px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 8px 16px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #373b3d;
   font-size: 15px;
  
   text-decoration: none;
   vertical-align: middle;
    width: 450px;
  
    
    
   }
.btnhome:hover {
   border-top-color: #55a3d4;
   background: #55a3d4;
   color: #ffffff;
   }
.btnhome:active {
   border-top-color: #2980b9;
   background: #2980b9;
   }


