#lightbox {
	position: absolute;
	top: 0;
	right: 25%;
	width: auto;
    height: auto;
	margin-left: -250px;
	background: rgba(41, 128, 185, 0.49);
	z-index: 1001;
	display: none;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #a8b3c4;
    
   
}
#lightbox-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}

#lightbox2 {
	position: absolute;
	top: 0;
	right: 45%;
	width: auto;
    height: auto;
	margin-left: -250px;
	background: rgba(41, 128, 185, 0.49);
	z-index: 1001;
	display: none;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #a8b3c4;
    
   
}
#lightbox-shadow2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}


.conpopup
{
    width: 800px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.conpopupreg
{
    width: 600px;
  
}

.conpopupedit
{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
