/* 
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */

body {
    margin-top: 80px;
    background-color: #85c1e9;
}

#wrapper {
  padding-left: 0;
}

#popupbox
{
    margin: 20px, 20px, 20px, 20px;
}

.conhome
{
    width: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 225px;
    position: relative;
}

.navbar-header1
{
    float: right;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

#userdatainfo
{
    width: 60%;
    height: 200px;
    background: #ffffff;
    margin-bottom: 30px;
}

.right-mg
{
    margin-right: 10px;
}
/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-right: 225px;
  }

  #page-wrapper {
	padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
	margin-right: -225px;
	right: 225px;
	width: 225px;
	position: fixed;
	top: 85px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #2980b9;
	overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #ffffff;
	padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #3498db;
	background-color: #ffffff;
  }

  .side-nav>li>a {
	width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #ffffff;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}

#titlepoint
{
    width: 30%;
}

#pbbottom
{
    margin-bottom: 110px;
}

.logo
{
    width: 150px;;
    height: 54px;
    
}
.logopln
{
    width: 39px;
    height: 54px;
    
}


.logotop1
{
    height: 200px;
}

#media
{
   top: 20px; 
   
}

#center
{
    display: block;
  margin-left: auto;
  margin-right: auto;
   
}
#txt
{
    text-align: center;
    color: #ffffff;
}
.txt
{

    color: #ffffff;
}

#txttitle
{
    color: #ffffff;
    font-size: 200%;
    font-weight:bold;
}

#txtlabel
{
    color: #f1c40f;
   font-size: 90%;
    
}


#txtdate
{
    text-indent: 10px;
    color: #ffffff;
}

#txtuser
{
    text-indent: 10px;
    color: #3498db;
    font-weight: bold;
}

#txtstart
{
    background-color:  #27ae60;
    color: #ffffff; 
    width: auto;
    text-align: center;
    font-size: 25px;
}


#txtexpired
{
     background-color:  #e74c3c;
    color: #ffffff;  
    width: auto;
    text-align: center;
    font-size: 25px;
    
}

#txttingkat
{
     background-color:  #ffffff;
    color: #3498db;  
    width: 150px;
    text-align: center;
    
}


#txtangkatan
{
     background-color:  #ffffff;
    color: #3498db;  
    width: 20px;
    text-align: center;
    
}
.txtstatusactive
{
    color: #2ecc71;
}

.txtstatusavail
{
    color: #3498db;
}

#txtsmall
{
    font-size: 12px;
}

.txtstatusdis
{
    color: #e74c3c;
}

.txtheaderadmin
{
    color: #3498db;
    font-weight: bold;
}

.txtinfo
{
    color: #ffffff;
    text-align: left;
    text-indent: 20px;
    margin-top: 30px;
}
#txtnumb
{
    color: #ffffff;
    font-size: 110%;
    font-weight: bold;
}

#txtlinkhome
{
    color: #ffffff;
    display: inline-block;
}

.txt-detail-home
{
    color: #ffffff;
    display: inline-block;
}

.form-view{
  display: block;
  width: auto;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #ffffff;
  vertical-align: middle;
  background-color: #2980b9;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-view-judul{
  display: block;
  width: 500px;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #ffffff;
  
  background-color: #2980b9;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
 
}

#txtketerangan
{
    margin: 0px; 
    width: 190px; 
    height: 160px;
    resize: none;
}
#notifadmin
{
    font-weight: bold;
    color: #d35400;
}

#activecrumb
{
    font-size: 150%;
    margin-top: 10px;
   
}

#download-admin
{
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
}

#insertbtnm
{
    margin-bottom: 20px;
    margin-left: 30px;
}

#editclass
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#tambahpeserta
{
    margin-left: 30px;
}

#headeredit
{
    text-align: center;

}

#fontadm
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#rightx
{
    margin-right: 240px;
    margin-left: 20px;
}

#dispinfo
{
    display: block;
    background-color: #3498db;
    min-height: 300px;
    margin-left: 30px;

}

#topinfo
{
    margin-top: 75px;
}

#headercol
{
    color: #ffffff;
}

#middlecol
{
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#searchsp
{
    color: #ffffff;
    top: 9px;
    left: 3px;
}

#searchrp
{
    color: #ffffff;
    margin-top: 10px;
    margin-right: 10px;
}


#tabedit
{
    margin-top: 30px;
    position: relative;
   
}

#conbottom
{
    margin-bottom: 30px;

}

li .dropdown-menu
{
    text-indent: 2em;
}


.circle 
{
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background-color: #ffffff;
    color: #3498db;
    margin: auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
.circle:hover
{
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
}
a .circle:hover
{
    color: #ffffff;
}

#inputpeserta
{
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 5px;
    border-color: #3498db;
  border-bottom-style: solid;
    border-width: 80%;
    border-bottom-left-radius: 50px;
}

#titlehome
{
    left: 0;
    
}

.view-home
{
    margin-left: 50px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*PROGRESSBAR*/
@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }

  to {
    left: 50%;
  }
}
h1 {
  
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 20px 0;
  color: #fff;
}

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
}

ul.checkout-bar {
  margin: 0 20px;
}
ul.checkout-bar li {
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #f1c40f;

  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #ffffff;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #f1c40f;
  z-index: 1000;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #ffffff;
  z-index: 1000;
}
ul.checkout-bar li.visited:before {
  background: #8bc53f;
  z-index: 1000;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #f1c40f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 80px auto;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #f1c40f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 18%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
    
}

/*button*/
.btnall {
   border-top: 1px solid #ffffff;
   background: #ffffff;
  
   padding: 8px 16px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #373b3d;
   font-size: 15px;
  
   text-decoration: none;
   vertical-align: middle;
    width: 450px;
  
    
    
   }
.btnall:hover {
   border-top-color: #55a3d4;
   background: #55a3d4;
   color: #ffffff;
   }
.btnall:active {
   border-top-color: #2980b9;
   background: #2980b9;
   }

/*buttonmenu*/
#buttonreport {
   
   background: #55a3d4;
  
   padding: 8px 16px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 15px;
  
   text-decoration: none;
   vertical-align: middle;
    width: 500px;
    min-height: 200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
   }
#buttonreport:hover {
   border-top-color: #55a3d4;
   background: #ffffff;
   color: #2980b9;
   }
#buttonreport:active {
   border-top-color: #2980b9;
   background: #2980b9;
   }



/*menusize*/
#menusize
{
 
    font-size: 200px;
    margin-bottom: 10px;
}

#menusize0
{
    font-size: 40px;
    margin-top: 20px;
}

#menusize1
{
    font-size: 40px;
}